.manageusers_main_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1cm;
}
.manageusers_search_container{
    width:90%;
    display:flex;
    flex-direction: row;
    gap:10px;
    padding-bottom:1%;
    padding-left: 8%;
    padding-right: 8%;
}
.manageuser_display_container{
    width:90%;
    padding-left: 8%;
    padding-right: 8%;
}
