/* Home.css */

/* General background styling */
.home-background {
  width: 100%;;
  background-color: #f4ecdc;
  box-sizing: border-box;
}

/* Landing section styling */
.landing-section {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  background-image: url('../../../resources/images/homebackground.jpg');
  background-size: cover; /* Ensure the image covers the whole area */
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
  text-align: center;
  color: #f4ecdc;
  min-height: 100vh; /* Make section at least as tall as the viewport */
  width: 100%;
  margin-top: 20vh;
}
/* Overlay styling */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -140px;
  background: rgba(0, 0, 0, 0.3); /* Black background with 50% opacity */
  z-index: 1; /* Ensure the overlay is below the text */
}

/* Ensure text is above the overlay */
.landing-title, .landing-subtitle, .main-entry-button {
  position: relative;
  z-index: 2;
}

/* Title and subtitle styling */
.landing-title {
  color: #ffffff;
  font-size: 5rem;
  margin-bottom: 20px; /* Adjust this to control space between title and subtitle */
  font-weight: bolder;
  text-shadow: 2px 2px 4px #000000;
}

.landing-subtitle {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 20px; /* Adjust this to control space between title and subtitle */
  text-shadow: 1px 1px 2px #000000;
}

/* Button styling */
.main-entry-button {
  background-color: var(--cheer-orange); /* Make sure this variable is defined in your CSS or replace with a hex color */
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  font-size: 1.5em;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  transition: background-color 0.3s;
  box-shadow: 3px 3px 6px #000000; /* Box shadow for better visibility */
}

.main-entry-button:hover {
  background-color: #647249; /* Updated to a darker orange color */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .landing-section {
    padding: 50px 10px;
  }

  .landing-title {
    font-size: 2rem;
  }

  .landing-subtitle {
    font-size: 1.2rem;
  }

  .main-entry-button {
    padding: 10px 18px; /* Slightly reduce padding on mobile */
  }
}




/* Home.css updates */

/* ...existing styles... */

/* Section container styling */
.cheer-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* Adjust gap as needed */
  margin: 40px 0;
}

/* Individual section styling */
.cheer-section {
  flex: 1;
  min-width: 250px; /* Minimum width of each section, adjust as needed */
  background-color: none;
  padding: 30px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  line-height: 1.0;
}

/* Hover effect for sections */
.cheer-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

/* Header in sections */
.cheer-section h2 {
  color: #db7859;
  font-size: 30px; /* Larger font size for headers */
  margin-bottom: 15px;
}

/* Text in sections */
.cheer-section p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
  font-size: 23px;
}

/* Last paragraph in each section with no margin bottom */
.cheer-section p:last-child {
  margin-bottom: 0;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .cheer-section-container {
    flex-direction: column;
    align-items: center;
  }

  .cheer-section {
    min-width: 90%; /* Full width on smaller screens */
  }
}




/* Reviews Display Section Styles */
.reviews-display-section {
  background-color: none; /* Light background for contrast */
  padding: 2rem;
  margin-top: 2rem;

}

.reviews-display-section h2 {
  color: #db7859;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 35px;
}

.reviews-display-section ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 800px; /* Control the max width for better readability */

}

.reviews-display-section li {
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 8px; /* Soft rounded corners */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  transition: transform 0.2s; /* Smooth transition for hover effect */
}

.reviews-display-section li:hover {
  transform: translateY(-5px); /* Slight raise effect on hover */
}

blockquote {
  font-style: italic;
  color: #555;
  margin: 0;
  font-size: 20px;
}

blockquote footer {
  text-align: right;
  margin-top: 1rem;
  color: #666;
  font-style: normal;
}


/* Review Form Styles */
.review-form-container {
  background-color: #fff;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  max-width: 600px;
}

.review-form-container h2 {
  text-align: center;
  color: #db7859;
  margin-bottom: 1.5rem;
  font-size: 30px;

}

.review-form-container form {
  display: flex;
  flex-direction: column;
}

.review-form-container input,
.review-form-container textarea {
  font-size: 1rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}



.review-form-container button {
  background-color: #db7859; /* Primary color */
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.review-form-container button:hover {
  background-color: #e66548; /* Darker shade on hover */
}
