/* Home.css */

/* General background styling */
.home-background {
  width: 100%;;
  background-color: #f4ecdc;
  box-sizing: border-box;
}

/* Landing section styling */
.landing-section {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  background-image: url('../../../resources/images/homebackground.jpg');
  background-size: cover; /* Ensure the image covers the whole area */
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
  text-align: center;
  color: #f4ecdc;
  min-height: 100vh; /* Make section at least as tall as the viewport */
  width: 100%;
  margin-top: 20vh;
}
/* Overlay styling */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* Black background with 50% opacity */
  z-index: 1; /* Ensure the overlay is below the text */
}

/* Ensure text is above the overlay */
.landing-title, .landing-subtitle, .main-entry-button {
  position: relative;
  z-index: 2;
}

/* Title and subtitle styling */
.landing-title {
  color: #ffffff;
  font-size: 5rem;
  margin-bottom: 20px; /* Adjust this to control space between title and subtitle */
  font-weight: bolder;
  text-shadow: 2px 2px 4px #000000;
}

.landing-subtitle {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 20px; /* Adjust this to control space between title and subtitle */
  text-shadow: 1px 1px 2px #000000;
}

/* Button styling */
.main-entry-button {
  background-color: var(--cheer-orange); /* Make sure this variable is defined in your CSS or replace with a hex color */
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  font-size: 1.5em;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  transition: background-color 0.3s;
  box-shadow: 3px 3px 6px #000000; /* Box shadow for better visibility */
}

.main-entry-button:hover {
  background-color: #647249; /* Updated to a darker orange color */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .landing-section {
    padding: 50px 10px;
  }

  .landing-title {
    font-size: 2rem;
  }

  .landing-subtitle {
    font-size: 1.2rem;
  }

  .main-entry-button {
    padding: 10px 18px; /* Slightly reduce padding on mobile */
  }
}
